<footer class="footer" role="contentinfo">
    <div>Copyright &copy; {{date format="YYYY"}} <a href="https://instagram.com/simplyshreh">Shrey Gupta, theme crea</a> &bull; Content rights reserved. 
    <a href="https://github.com/itsmingjie/ganymede">💫 Ganymede</a> on <a href="https://ghost.org">Ghost</a> <a href="https://mingjie.info">by Mingjie Jiang</a>.</div>
</footer>
